#mapa {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
}

.posicao {
  padding:12px;
  border-radius:10px;
  text-align:center;
  font-size:12px;
}

.livre { background:#2ecc71; }
.ocupado { background:#e67e22; }
.bloqueado { background:#e74c3c; }
